In [2]:
import pandas as pd

In [5]:
pokemon=pd.read_csv("pokemon.csv")
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [7]:
pokemon.tail()

       Pokemon     Type
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

In [12]:
myinitials=['gbag','vbhk','rubn','pyks','prkh']
myinitials
len(myinitials)

5

In [20]:
initials=pd.Series(myinitials) #python it is either a class or functions?

0    gbag
1    vbhk
2    rubn
3    pyks
4    prkh
dtype: object

In [15]:
type(initials)

pandas.core.series.Series

In [16]:
initials

0    gbag
1    vbhk
2    rubn
3    pyks
4    prkh
dtype: object

In [19]:
initials[2:4]

2    rubn
3    pyks
dtype: object

In [21]:
mynum=[4,5,34,5,6,3,3]

In [22]:
pd.Series(mynum)

0     4
1     5
2    34
3     5
4     6
5     3
6     3
dtype: int64

In [25]:
mybool =[True,False,False,True,1,0]

In [33]:
bool=pd.Series(mybool)

In [44]:
#covnert a dictionary to a series
mytvname={"tv9":"local New channel",
          "republic":"new channel all india",
          "colors 9":"local regional channel",
          "sun network":"india regional channel"    
}

In [55]:
type(mytvname)
mytvname['republic']
mytvname.keys()
mytvname.values()
mytvname.items()

dict_items([('tv9', 'local New channel'), ('republic', 'new channel all india'), ('colors 9', 'local regional channel'), ('sun network', 'india regional channel')])

In [62]:
tvnam=pd.Series(mytvname)

In [83]:
type(tvnam)
tvnam

tv9                 local New channel
republic        new channel all india
colors 9       local regional channel
sun network    india regional channel
dtype: object

In [61]:
mytvname

{'tv9': 'local New channel',
 'republic': 'new channel all india',
 'colors 9': 'local regional channel',
 'sun network': 'india regional channel'}

In [64]:
#inbuilt attributes(variable) and methods in series

In [65]:
mypet=['dog','cat','python','snake']

In [78]:
pet=pd.Series(mypet)
pet

0       dog
1       cat
2    python
3     snake
dtype: object

In [72]:
#attibuts
pet.values
pet.index
pet.dtype

dtype('O')

In [79]:
mynum=[1,2,3,4,4,4]
mynum

[1, 2, 3, 4, 4, 4]

In [84]:
num=pd.Series(mynum)
num

0    1
1    2
2    3
3    4
4    4
5    4
dtype: int64

In [85]:
num.dtype #https://numpy.org/devdocs/user/basics.types.html

dtype('int64')

In [91]:
num.sum()
num.count()
num.mean()
num.median()
num.std()

1.2649110640673518

In [95]:
ls=num.to_list()
type(ls)

list

In [97]:
fruits=['apple','banna','mango','papaya','kiwi','grapes']
weekdays=['monday','tuesday','wednesday','thurday','friday','saturday']

In [99]:
fruits

['apple', 'banna', 'mango', 'papaya', 'kiwi', 'grapes']

In [100]:
weekdays

['monday', 'tuesday', 'wednesday', 'thurday', 'friday', 'saturday']

In [106]:
pd.Series(data=fruits,index=weekdays)
pd.Series(fruits,weekdays)
fruits=pd.Series(fruits,weekdays,name='Fruits')

In [112]:
fruits.to_csv("fruits.csv",sep='|')

In [113]:
fruits.index
fruits.values

array(['apple', 'banna', 'mango', 'papaya', 'kiwi', 'grapes'],
      dtype=object)