In [2]:
import pandas as pd

In [9]:
pokeman=pd.read_csv("https://gist.githubusercontent.com/ganeshbabuNN/a66cb8bbaabf54f08829273298f16250/raw/206fd7ade657b31ffcbfefc629bddeb73a2731a2/pokeman.csv")

In [12]:
type(pokeman)

pandas.core.frame.DataFrame

In [13]:
pokeman

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [34]:
fruits=['banana','apple','grape','papaya','sopota']

In [16]:
type(fruits)

list

In [35]:
weekdays=['monday','tuesday','wednesday','thursday','monday']

In [18]:
type(weekdays)

list

In [65]:
dailyroutines=pd.Series(fruits,index=weekdays,name='routine')
dailyroutines['monday']

monday       banana
tuesday       apple
wednesday     grape
thursday     papaya
monday       sopota
Name: routine, dtype: object

In [21]:
type(dailyroutines)

pandas.core.series.Series

In [37]:
pd.Series(fruits)

0    banana
1     apple
2     grape
3    papaya
4    sopota
dtype: object

monday       banana
tuesday       apple
wednesday     grape
thursday     papaya
monday       sopota
Name: routine, dtype: object

In [72]:
pokemon=pd.read_csv("pokemon.csv")
pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [51]:
type(pokeman)

pandas.core.frame.DataFrame

In [58]:
poke=pd.read_csv("pokemon.csv",usecols=['Pokemon'],squeeze=True)

In [59]:
type(poke)

pandas.core.series.Series

In [76]:
len(poke)

721

In [63]:
pd.read_csv("pokemon.csv",usecols=['Pokemon'],squeeze=True)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [107]:
google=pd.read_csv('google_stock_price.csv',squeeze=True)

In [71]:
kfu

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [111]:
pd.read_csv("pokemon.csv").tail(50).to_csv("kfu.csv",index=False)

In [104]:
pokeman.head()
pokeman.tail()
pokeman
pokeman.head(50)
pokeman[3:7]

      Pokemon   Type
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water

In [105]:
pokeman

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [106]:
google

NameError: name 'google' is not defined